<title>教室管理</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>教室管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="classroom-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>添加</a>
                </div>
            </script>
            <table class="layui-table" id="classroom-table" lay-filter="classroom-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('classroom', layui.factory('classroom')).use(['classroom'], function () {

    });
</script>