<title>跟进记录</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<style>
    .layui-rate {
        padding: 5px;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>跟进记录</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="communication-record-tab-filter">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="0"><i class="layui-icon layui-icon-tips"></i> 历史跟进记录</li>
                <li lay-id="1"><i class="layui-icon layui-icon-chat"></i> 填写跟进记录</li>
            </ul>
            <div class="layui-tab-content">
                <!--历史跟进记录-->
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" id="communication-record-table" lay-filter="communication-record-table"></table>
                </div>
                <!--填写跟进记录-->
                <div class="layui-tab-item">
                    <div class="layui-card-body">
                        <div class="layui-form" id="communication-record-add-form" lay-filter="communication-record-add-form-filter">
                            <div class="layui-form-item">
                                <label class="layui-form-label">成交意向</label>
                                <div class="layui-input-block">
                                    <div id="communication-record-clinchIntention-star"></div>
                                    <input type="hidden" id="clinchIntentionStar" name="ClinchIntentionStar" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">跟进状态</label>
                                <div class="layui-input-block">
                                    <select id="sel-trackingstate-edit" name="TrackingState" lay-verify="required|select">
                                        <option value="">请选择跟进状态</option>
                                        <option value=1>待跟进</option>
                                        <option value=2>跟进中</option>
                                        <option value=3>已邀约</option>
                                        <option value=4>已试听</option>
                                        <option value=5>已到访</option>
                                        <option value=6>已成交</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">跟进方式</label>
                                <div class="layui-input-block">
                                    <select id="sel-communicate-way-edit" name="CommunicateWay" lay-verify="required|select">
                                        <option value="">请选择跟进方式</option>
                                        <option value="电话">电话</option>
                                        <option value="微信">微信</option>
                                        <option value="到访">到访</option>
                                        <option value="短信">短信</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">跟进内容</label>
                                <div class="layui-input-block">
                                    <script type="text/html" template>
                                        <input type="hidden" name="ConsultRecordId" value="{{ d.params.id || '' }}" lay-verify="required" class="layui-input">
                                    </script>
                                    <textarea id="communicationContent" name="CommunicationContent" lay-verify="required|normallength" maxlength="128" placeholder="请输入跟进内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item content-center">
                                <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="communication-record-add-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>