<title>咨询记录</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>咨询记录（生源管理）</cite></a>
    </div>
</div>
<div class="layui-fluid" style="padding: 15px 15px 0 15px;">
    <div class="layui-card">
        <div class="layui-card-header">查询条件</div>
        <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="component-panel">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">点击打开或关闭查询条件</h2>
                    <div class="layui-colla-content">
                        <div class="layui-form layui-card-header layuiadmin-card-header-auto layui-row layui-col-space10" lay-filter="consultrecord-search-filter">
                            <div class="layui-col-md3">
                                <select class="sel" id="sel-counselingcourse-search-list" name="CounselingcourseId" lay-verify="" lay-filter="organization-search-filter" placeholder="请选择课程"></select>
                            </div>
                            <div class="layui-col-md3">
                                <select class="sel" id="sel-marketingchannel-search-list" name="MarketingchannelId" lay-verify="" lay-filter="" placeholder="请选择渠道"></select>
                            </div>
                            <div class="layui-col-md3">
                                <select id="sel-trackingstate-list" name="TrackingState" lay-verify="">
                                    <option value="0">请选择跟进状态</option>
                                    <option value="1">待跟进</option>
                                    <option value="2">跟进中</option>
                                    <option value="3">已邀约</option>
                                    <option value="4">已试听</option>
                                    <option value="5">已到访</option>
                                    <option value="6">已成交</option>
                                </select>
                            </div>
                            <div class="layui-col-md3">
                                <input type="text" id="name" name="name" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-col-md3">
                                <input type="text" id="phoneNumber" name="phoneNumber" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" placeholder="请输入电话" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-col-md3">
                                <input type="text" class="layui-input" id="daterange" placeholder=" 日期范围 ">
                                <input type="hidden" id="consultrecord-statr-time" />
                                <input type="hidden" id="consultrecord-end-time" />
                            </div>
                            <div class="layui-col-md3">
                                <select class="sel" id="sel-department-search-list" lay-verify="" lay-filter="sel-department-search-list-filter" placeholder="请选择部门"></select>
                            </div>
                            <div class="layui-col-md3">
                                <select class="sel" id="sel-trackingstaffer-search-list" name="TrackingStafferId" lay-verify="" lay-filter="" placeholder="请选择跟进人"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="consultrecord-table-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-submit lay-filter="consultrecord-search"><i class="layui-icon layui-icon-refresh"></i>搜索</a>
                    <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>添加</a>
                    <a class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-sm" lay-event="trackingassigned"><i class="layui-icon layui-icon-user"></i>跟进指派</a>
                    <a class="layui-btn layui-btn-sm" lay-event="communicationrecord"><i class="layui-icon layui-icon-headset"></i>跟进记录</a>
                    <a class="layui-btn layui-btn-sm" lay-event="listenhandling"><i class="layui-icon layui-icon-time"></i>试听办理</a>
                    <a class="layui-btn layui-btn-sm" lay-event="register"><i class="layui-icon layui-icon-template-1"></i>报名办理</a>
                </div>
            </script>
            <table class="layui-table" id="consultrecord-table" lay-filter="consultrecord-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('consultrecord', layui.factory('consultrecord')).use(['consultrecord'], function () {
    });
</script>
