<title>咨询记录</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>咨询记录（生源管理）</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="consultrecord-table-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-event="search"><i class="layui-icon layui-icon-refresh"></i>搜索</a>
                    <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>添加</a>
                    <a class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-sm" lay-event="trackingassigned"><i class="layui-icon layui-icon-user"></i>跟进指派</a>
                    <a class="layui-btn layui-btn-sm" lay-event="communicationrecord"><i class="layui-icon layui-icon-headset"></i>跟进记录</a>
                    <a class="layui-btn layui-btn-sm" lay-event="listenhandling"><i class="layui-icon layui-icon-time"></i>试听办理</a>
                    <a class="layui-btn layui-btn-sm" lay-event="register"><i class="layui-icon layui-icon-template-1"></i>报名办理</a>
                </div>
            </script>
            <table class="layui-table" id="consultrecord-table" lay-filter="consultrecord-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('consultrecord', layui.factory('consultrecord')).use(['consultrecord'], function () {
    });
</script>
