<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<form class="layui-form layui-card-header layuiadmin-card-header-auto layui-row" id="classes-add-form" lay-filter="classes-add-form-filter">
    <div class="layui-form-item">
        <label class="layui-form-label">班级名称</label>
        <div class="layui-input-block ">
            <input type="text" id="name" name="Name" lay-verify="required|normallength" maxlength="32" autocomplete="off" placeholder="班级名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级容量</label>
        <div class="layui-input-block">
            <input type="text" id="classSize" name="ClassSize" lay-verify="required|positive" maxlength="12" placeholder="人" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开班日期</label>
        <div class="layui-input-block">
            <input type="text" id="startDateAdd" name="StartDate" lay-verify="required" readonly maxlength="32" placeholder="请选择" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所授课程</label>
        <div class="layui-input-block">
            <select class="sel" id="sel-course-list" name="CourseId" lay-verify="required|select" lay-filter="sel-course-list-filter"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">授课老师</label>
        <div class="layui-input-block">
            <select class="sel" id="sel-teacher-list" name="TeacherId" lay-verify="required|select" lay-filter="sel-teacher-list-filter"></select>
            <input type="hidden" id="hiddenTeacherName" name="TeacherName" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上课教室</label>
        <div class="layui-input-block">
            <select class="sel" id="sel-class-room-list" name="ClassRoomId" lay-verify="required|select" lay-filter=""></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">招生状态</label>
        <div class="layui-input-block">
            <select id="sel-recruitstatus-list" name="RecruitStatus" lay-verify="required|select">
                <option value="">请选择</option>
                <option value=1>开放招生</option>
                <option value=2>暂停招生</option>
                <option value=3>授课结束</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级类型</label>
        <div class="layui-input-block">
            <select id="sel-typeofclass-list" name="TypeOfClass" lay-verify="required|select">
                <option value="">请选择</option>
                <option value=1>班课</option>
                <option value=2>一对一</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item content-center">
        <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="classes-add-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
    </div>
</form>