<title>排课管理</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>排课管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="courseschedule-manage-tab-filter">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="0"><i class="layui-icon layui-icon-tips"></i> 排课信息</li>
                <li lay-id="1"><i class="layui-icon layui-icon-add-circle"></i> 添加排课</li>
            </ul>
            <div class="layui-tab-content">
                <!--排课信息-->
                <div class="layui-tab-item layui-show">
                    <script type="text/html" id="courseschedule-table-toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
                            <button class="layui-btn layui-btn-sm" lay-event="finish"><i class="layui-icon layui-icon-ok-circle"></i>结课</button>
                        </div>
                    </script>
                    <table class="layui-table" id="courseschedule-table" lay-filter="courseschedule-table"></table>
                </div>
                <!--排课信息-->
                <!--添加排课-->
                <div class="layui-tab-item">
                    <div class="layui-card-body">
                        <div class="layui-form" lay-filter="courseschedule-add-form-filter">
                            <div class="layui-form-item">
                                <label class="layui-form-label">排课方式</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="RepeatedWay" value=1 title="每周循环" checked="" lay-filter="radio-repeated-way-filter">
                                    <input type="radio" name="RepeatedWay" value=2 title="每天排课" lay-filter="radio-repeated-way-filter">
                                    <input type="radio" name="RepeatedWay" value=3 title="单次排课" lay-filter="radio-repeated-way-filter">
                                    <input type="radio" name="RepeatedWay" value=4 title="隔天排课" lay-filter="radio-repeated-way-filter">
                                </div>
                            </div>
                            <div class="layui-form-item" id="repeated-way-onceaweek-container">
                                <label class="layui-form-label">上课规则</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="classrules" value=1 title="周一" checked="">
                                    <input type="checkbox" name="classrules" value=2 title="周二">
                                    <input type="checkbox" name="classrules" value=3 title="周三">
                                    <input type="checkbox" name="classrules" value=4 title="周四">
                                    <input type="checkbox" name="classrules" value=5 title="周五">
                                    <input type="checkbox" name="classrules" value=6 title="周六">
                                    <input type="checkbox" name="classrules" value=7 title="周天">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">开课日期</label>
                                <div class="layui-input-inline">
                                    <script type="text/html" template>
                                        <input type="text" id="classOpeningDate" name="ClassOpeningDate" value="{{ d.params.startDate || '' }}" lay-verify="required" maxlength="32" autocomplete="off" placeholder="" class="layui-input" readonly>
                                    </script>
                                </div>
                                <div class="layui-form-mid layui-word-aux">默认跟随班级 - 开班日期</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">上课时段</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="class-time-select" name="ClassTime" lay-verify="required" maxlength="32" autocomplete="off" placeholder="" class="layui-input" readonly>
                                </div>
                                <div class="layui-form-mid layui-word-aux">每节课上课时间段 - 格式 - 时：分</div>
                            </div>
                            <div class="layui-form-item" id="days-between-container" style="display:none;">
                                <label class="layui-form-label">间隔天数</label>
                                <div class="layui-input-inline">
                                    <select id="sel-days-between-list" name="DaysBetween" lay-filter="sel-days-between-list-filter">
                                        <option value="1">间隔1天</option>
                                        <option value="2">间隔2天</option>
                                        <option value="3">间隔3天</option>
                                    </select>
                                </div>
                                <div class="layui-form-mid layui-word-aux">请选择间隔天数</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">授课老师</label>
                                <div class="layui-input-inline">
                                    <select class="sel" id="sel-teacher-list" name="TeacherId" lay-verify="required|select" lay-filter="sel-teacher-list-filter"></select>
                                </div>
                                <div class="layui-form-mid layui-word-aux">默认跟随班级 - 授课老师</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">上课教室</label>
                                <div class="layui-input-inline">
                                    <select class="sel" id="sel-class-room-list" name="ClassRoomId" lay-verify="required|select" lay-filter=""></select>
                                </div>
                                <div class="layui-form-mid layui-word-aux">默认跟随班级 - 上课教室</div>
                            </div>
                            <div class="layui-form-item" id="exclusion-rule-container">
                                <label class="layui-form-label">排除规则</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="exclusionrule" title="是否排除掉法定节假日" lay-filter="chk-exclusionrule-filter">
                                </div>
                                <div class="layui-form-mid layui-word-aux">默认不排除法定节假日</div>
                            </div>
                            <div class="layui-form-item" id="seschedule-end-way-container">
                                <label class="layui-form-label">结束方式</label>
                                <div class="layui-input-inline">
                                    <select id="sel-seschedule-end-way-list" name="SescheduleEndWay" lay-filter="seschedule-end-way-filter">
                                        <option value="1">按总课节数</option>
                                        <option value="2">按结束日期</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline" id="seschedule-end-way-sessions-number-container">
                                    <input type="text" id="sescheduleEndWaySessionsNumber" name="SescheduleEndWaySessionsNumber" value="0" lay-verify="" maxlength="3" autocomplete="off" placeholder="" class="layui-input">
                                </div>
                                <div id="seschedule-end-way-sessions-number-message" class="layui-form-mid layui-word-aux">最大课节数为：366</div>
                                <div id="seschedule-end-way-class-end-date-container" class="layui-input-inline" style="display:none;">
                                    <input type="text" id="sescheduleEndWayClassEndDate" name="SescheduleEndWayClassEndDate" lay-verify="" maxlength="32" autocomplete="off" placeholder="yyyy-MM-dd" class="layui-input" readonly>
                                </div>
                                <div id="seschedule-end-way-class-end-date-message" class="layui-form-mid layui-word-aux" style="display:none;">请选择结束日期</div>
                            </div>
                            <hr style="margin-top:25px;margin-bottom:25px;">
                            <div class="layui-form-item content-center" style="margin:0;padding:0;">
                                <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="courseschedule-add-form-submit"><i class="layui-icon layui-icon-ok"></i>立即排课</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--添加排课-->
            </div>
        </div>
    </div>
</div>