<title>班级管理</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>班级管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="classes-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-event="search"><i class="layui-icon layui-icon-refresh"></i>搜索</a>
                    <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>添加</button>
                    <button class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</button>
                    <button class="layui-btn layui-btn-sm" lay-event="courseschedule"><i class="layui-icon layui-icon-read"></i>排课</button>
                    <button class="layui-btn layui-btn-sm" lay-event="students"><i class="layui-icon layui-icon-user"></i>学生</button>
                    <button class="layui-btn layui-btn-sm" lay-event="classesend"><i class="layui-icon layui-icon-engine"></i>授课结束</button>
                    <button class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
                </div>
            </script>
            <table class="layui-table" id="classes-table" lay-filter="classes-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('classes', layui.factory('classes')).use(['classes'], function () {
    });
</script>