<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<form class="layui-form" id="classes-search-form" lay-filter="classes-search-form" style="padding:15px;">
    <div class="layui-form-item">
        <label class="layui-form-label">选择课程</label>
        <div class="layui-input-block">
            <select class="sel" id="sel-course-search" name="CourseId" lay-verify="" lay-filter="" placeholder="请选择课程"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开班时间</label>
        <div class="layui-input-block">
            <input type="text" id="input-laydate-select" placeholder="请选择开班时间段" autocomplete="off" class="layui-input" readonly maxlength="32">
            <input type="hidden" id="class-statr-time" name="StartTime" />
            <input type="hidden" id="class-end-time" name="EndTime" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级名称</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="Name" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" maxlength="16" placeholder="请输入班级名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级类型</label>
        <div class="layui-input-block">
            <select id="sel-typeofclass-search" name="TypeOfClass" lay-verify="required|select">
                <option value="0">请选择班级类型</option>
                <option value=1>班课</option>
                <option value=2>一对一</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item content-center">
        <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="classes-search-submit"><i class="layui-icon layui-icon-ok"></i>立即搜索</button>
    </div>
</form>