<title>日常支出</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>日常支出</cite></a>
    </div>
</div>
<div class="layui-fluid" style="padding: 15px 15px 0 15px;">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form layuiadmin-card-header-auto layui-row layui-col-space10" lay-filter="orders-search-filter">
                <div class="layui-col-md3">
                    <input type="text" class="layui-input" id="daterange" placeholder=" 日期范围 ">
                </div>
                <div class="layui-col-md3">
                    <select class="sel" id="sel-trackingstaffer-search-list" name="TrackingStafferId" lay-verify="" lay-filter="" placeholder="请选择支出项目">
                        <option value="1">待跟进</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="dailyspending-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-submit lay-filter="dailyspending-search"><i class="layui-icon layui-icon-refresh"></i>搜索</a>
                    <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>添加</a>
                </div>
            </script>
            <table class="layui-table" id="dailyspending-table" lay-filter="dailyspending-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('dailyspending', layui.factory('dailyspending')).use(['dailyspending'], function () {

    });
</script>