<title>上课记录</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>上课记录</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto layui-row layui-col-space10" lay-filter="studentattendance-search-form">
            <div class="layui-col-md2">
                <select class="sel" id="sel-course-search" name="CourseId" lay-verify="" lay-filter="course-search-filter" placeholder="请选择课程"></select>
            </div>
            <div class="layui-col-md2">
                <select class="sel" id="sel-class-search" name="ClassId" placeholder="请选择班级"></select>
            </div>
            <div class="layui-col-md2">
                <input type="text" id="input-laydate-select" placeholder="请选择开班时间段" autocomplete="off" class="layui-input" readonly maxlength="32">
                <input type="hidden" id="statr-time" name="StartTime" />
                <input type="hidden" id="end-time" name="EndTime" />
            </div>
            <div class="layui-col-md2">
                <input type="text" id="studentName" name="StudentName" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" maxlength="16" placeholder="请输入学生姓名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-col-md2">
                <select id="sel-attendancestatus-search" name="AttendanceStatus" lay-verify="required|select">
                    <option value="0">请选择出勤状态</option>
                    <option value=1>出勤</option>
                    <option value=2>缺勤</option>
                    <option value=3>请假</option>
                </select>
            </div>
        </div>
        <div class="layui-card-body">
            <script type="text/html" id="studentattendance-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-submit lay-filter="studentattendance-search"><i class="layui-icon layui-icon-refresh"></i>搜索</a>
                    <a class="layui-btn layui-btn-sm" lay-event="cancel"><i class="layui-icon layui-icon-chat"></i>取消考勤</a>
                </div>
            </script>
            <table class="layui-table" id="studentattendance-table" lay-filter="studentattendance-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('studentattendance', layui.factory('studentattendance')).use(['studentattendance'], function () {
    });
</script>