<title>考勤记录</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>考勤记录</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="studentattendance-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-event="search"><i class="layui-icon layui-icon-refresh"></i>搜索</a>
                    <a class="layui-btn layui-btn-sm" lay-event="cancel"><i class="layui-icon layui-icon-chat"></i>取消考勤</a>
                </div>
            </script>
            <table class="layui-table" id="studentattendance-table" lay-filter="studentattendance-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('studentattendance', layui.factory('studentattendance')).use(['studentattendance'], function () {
    });
</script>