<title>订制需求与优化建议反馈</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>建议反馈</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">订制需求与优化建议反馈</div>
                <div class="layui-card-body" pad15>

                    <form class="layui-form" id="feedbackmessage-submit-form" lay-filter="feedbackmessage-submit-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">建议反馈</label>
                            <div class="layui-input-block">
                                <input type="text" id="feedbackMessage" name="FeedbackMessage" lay-verify="required" maxlength="128" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="feedbackmessage-submit-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'setter', 'element'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , setter = layui.setter
            , element = layui.element
            , form = layui.form;

        form.on('submit(feedbackmessage-submit-form-submit)', function (data) {
            admin.req({
                url: setter.apiAddress.feedback.add
                , data: data.field
                , type: 'POST'
                , done: function (res) {
                    if (res.code == 0) {
                        layer.msg('提交成功', {
                            icon: 1,
                            time: 2000
                        }, function () {
                            $("#feedbackMessage").val('');
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
        });

    });
</script>