<title>营销工具</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>营销工具</cite></a>
    </div>
</div>
<div class="layui-fluid layadmin-maillist-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <script type="text/html" template>
                                <img src="{{ layui.setter.base }}style/res/template/marketingtools.jpg">
                            </script>
                            <div class="layadmin-maillist-img layadmin-font-blod">优惠券</div>
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>优惠券</strong>
                        </h3>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-voice"></i>
                            市场运营推广必备
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>Hu Ge studio</strong>
                            <br>
                            E-mail:xxx@baidu.com
                            <br>
                            Weibo: https://weibo.com/hu_ge
                            <br>
                            <addr title="phone">Tel:</addr>
                            (123) 456-7890
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <script type="text/html" template>
                                <img src="{{ layui.setter.base }}style/res/template/marketingtools.jpg">
                            </script>
                            <div class="layadmin-maillist-img layadmin-font-blod">拼团</div>
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>拼团</strong>
                        </h3>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-voice"></i>
                            上海
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>Hu Ge studio</strong>
                            <br>
                            E-mail:xxx@baidu.com
                            <br>
                            Weibo: https://weibo.com/hu_ge
                            <br>
                            <addr title="phone">Tel:</addr>
                            (123) 456-7890
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <script type="text/html" template>
                                <img src="{{ layui.setter.base }}style/res/template/marketingtools.jpg">
                            </script>
                            <div class="layadmin-maillist-img layadmin-font-blod">好友助力</div>
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>好友助力</strong>
                        </h3>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-voice"></i>
                            上海
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>Hu Ge studio</strong>
                            <br>
                            E-mail:xxx@baidu.com
                            <br>
                            Weibo: https://weibo.com/hu_ge
                            <br>
                            <addr title="phone">Tel:</addr>
                            (123) 456-7890
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <script type="text/html" template>
                                <img src="{{ layui.setter.base }}style/res/template/marketingtools.jpg">
                            </script>
                            <div class="layadmin-maillist-img layadmin-font-blod">推荐有奖</div>
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>推荐有奖</strong>
                        </h3>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-voice"></i>
                            上海
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>Hu Ge studio</strong>
                            <br>
                            E-mail:xxx@baidu.com
                            <br>
                            Weibo: https://weibo.com/hu_ge
                            <br>
                            <addr title="phone">Tel:</addr>
                            (123) 456-7890
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <script type="text/html" template>
                                <img src="{{ layui.setter.base }}style/res/template/marketingtools.jpg">
                            </script>
                            <div class="layadmin-maillist-img layadmin-font-blod">推荐有奖</div>
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>推荐有奖</strong>
                        </h3>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-voice"></i>
                            上海
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>Hu Ge studio</strong>
                            <br>
                            E-mail:xxx@baidu.com
                            <br>
                            Weibo: https://weibo.com/hu_ge
                            <br>
                            <addr title="phone">Tel:</addr>
                            (123) 456-7890
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <script type="text/html" template>
                                <img src="{{ layui.setter.base }}style/res/template/marketingtools.jpg">
                            </script>
                            <div class="layadmin-maillist-img layadmin-font-blod">推荐有奖</div>
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>推荐有奖</strong>
                        </h3>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-voice"></i>
                            上海
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>Hu Ge studio</strong>
                            <br>
                            E-mail:xxx@baidu.com
                            <br>
                            Weibo: https://weibo.com/hu_ge
                            <br>
                            <addr title="phone">Tel:</addr>
                            (123) 456-7890
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('marketingtool', layui.factory('marketingtool')).use(['marketingtool'], function () {
    });
</script>