<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<form class="layui-form" id="announcements-add-form" lay-filter="announcements-add-form">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" id="title" name="Title" lay-verify="required|normallength" maxlength="32" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block ">
            <textarea id="layedit_content" name="Content" lay-verify="announcements_content_verify" style="display: none;"></textarea>
        </div>
    </div>
    <div class="layui-form-item content-center">
        <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="announcements-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
    </div>
</form>