<title>学生成长记录 - 评论信息</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>学生成长记录 - 评论信息</cite></a>
    </div>
</div>
<div class="layui-fluid" style="padding-top:5px;">
    <div class="layui-card">
        <div class="layui-card-body" style="padding:0;border:none; margin-top:15px;">
            <table class="layui-table" id="growthrecord-comment-table" lay-filter="growthrecord-comment-table"></table>
        </div>
    </div>
</div>
