<title>资讯详情</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a lay-href="">资讯</a>
        <a><cite>详情</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card layuiAdmin-msg-detail" id="announcementseview"></div>
</div>
<script type="text/html" id="announcementsfiletemplate">
    <div class="layui-card-header">
        <h1>{{ d.title }}</h1>
        <p>
            <span>{{ layui.util.timeAgo(d.createTime) }}</span>
        </p>
    </div>
    <div class="layui-card-body layui-text">
        <div class="layadmin-text">
            {{ d.content }}
        </div>
    </div>
</script>
<script>
    layui.use(['admin', 'setter', 'laytpl'], function () {
        var $ = layui.$
            , admin = layui.admin
            , setter = layui.setter
            , laytpl = layui.laytpl;
        admin.req({
            url: setter.apiAddress.announcements.single
            , data: { id: layui.router().search.id }
            , done: function (res) {
                if (res.data) {
                    var gettpl = announcementsfiletemplate.innerHTML
                        , view = document.getElementById('announcementseview');
                    laytpl(gettpl).render(res.data, function (html) {
                        view.innerHTML = html;
                    });
                } else {
                    layer.msg("内容未找到");
                }
            }
        });
    });
</script>
