<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template>
        <p>当前版本：layuiAdmin-v{{ layui.admin.v }}</p>
        <p>基于框架：layui-v{{ layui.v }}</p>
    </script>
</div>

<div class="layui-card-header">本地部署</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote class="layui-elem-quote" style="border: none;">
        如有本地部署需求，请通过在线客服与我们洽谈。再次感谢您的支持。
    </blockquote>
    <blockquote>© 2020 <a href="http://www.cdzssy.cn/">成都知识索引科技有限公司</a> 版权所有</blockquote>
</div>

<div class="layui-card-header">商务合作</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote>
        电子邮箱：nick2020cd@sina.com
    </blockquote>
</div>