<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template>
        <p>当前版本：layuiAdmin-v{{ layui.admin.v }}</p>
        <p>基于框架：layui-v{{ layui.v }}</p>
    </script>
    <p>我们承诺</p>
    <div class="layui-btn-container">
        <a href="javascript:;" target="_blank" class="layui-btn layui-btn-danger">1-免费使用</a>
        <a href="javascript:;" target="_blank" class="layui-btn">2-提供更新</a>
    </div>
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote class="layui-elem-quote" style="border: none;">
        如有本地部署需求，请通过在线客服与我们洽谈。再次感谢您的支持。
    </blockquote>
    <blockquote>© 2020 <a href="http://www.awine.teach/">Awine.Teach</a> 版权所有</blockquote>
</div>