<title>设置我的密码</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的密码</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="originalPassword" lay-verify="required" maxlength="12" placeholder="当前密码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block">
                                <input type="password" id="LAY_password" name="password" lay-verify="pass" autocomplete="off" maxlength="18" placeholder="6-18位密码，区分大小写" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码强度</label>
                            <div class="layui-btn-group pwd-item">
                                <label id="l" class="layui-btn layui-btn-primary">低</label>
                                <label id="m" class="layui-btn layui-btn-primary ">中</label>
                                <label id="h" class="layui-btn layui-btn-primary">高</label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="repassword" lay-verify="repass" autocomplete="off" maxlength="18" placeholder="6-18位密码，区分大小写" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="update-password-submit"><i class="layui-icon layui-icon-ok"></i>确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'common', 'setter', 'element'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , common = layui.common
            , setter = layui.setter
            , form = layui.form;

        //自定义验证
        form.verify({
            //新密码
            pass: [
                /^[\S]{6,18}$/
                , '密码必须6到18位，且不能出现空格'
            ]
            //确认密码
            , repass: function (value) {
                if (value !== $('#LAY_password').val()) {
                    return '两次密码输入不一致';
                }
            }
        });

        //密码强度判断
        function passwordChangeStatuss() {
            var pwd = $("#LAY_password").val();
            if (pwd == "" || pwd == null) {
                $(".pwd-item label").attr("class", "layui-btn layui-btn-primary");
            } else {
                S_level = checkStrong(pwd);
                switch (S_level) {
                    case 0:
                        $(".pwd-item label").attr("class", "layui-btn layui-btn-primary");
                    case 1:
                        $("#l").attr("class", "layui-btn layui-btn-danger");
                        $("#m").attr("class", "layui-btn layui-btn-primary");
                        $("#h").attr("class", "layui-btn layui-btn-primary");
                        break;
                    case 2:
                        $("#l").attr("class", "layui-btn layui-btn-danger");
                        $("#m").attr("class", "layui-btn layui-btn-warm");
                        $("#h").attr("class", "layui-btn layui-btn-primary");
                        break;
                    default:
                        $("#l").attr("class", "layui-btn layui-btn-danger");
                        $("#m").attr("class", "layui-btn layui-btn-warm");
                        $("#h").attr("class", "layui-btn");
                }
            }
        }

        //判断输入密码的类型
        function CharMode(iN) {
            if (iN >= 48 && iN <= 57) //数字
                return 1;
            if (iN >= 65 && iN <= 90) //大写
                return 2;
            if (iN >= 97 && iN <= 122) //小写
                return 4;
            else
                return 8;
        }

        //bitTotal函数
        //计算密码模式
        function bitTotal(num) {
            modes = 0;
            for (i = 0; i < 4; i++) {
                if (num & 1) modes++;
                num >>>= 1;
            }
            return modes;
        }

        //返回强度级别
        function checkStrong(sPW) {
            if (sPW.length <= 8)
                return 0; //密码太短
            Modes = 0;
            for (i = 0; i < sPW.length; i++) {
                //密码模式
                Modes |= CharMode(sPW.charCodeAt(i));
            }
            return bitTotal(Modes);
        }

        $('#LAY_password').bind('input onkeyup onblur', function () {
            passwordChangeStatuss();
        });

        //设置密码
        form.on('submit(update-password-submit)', function (obj) {
            common.ajax(setter.apiAddress.aspnetuser.updatepassword, "POST", "", obj.field, function (res) {
                if (res.statusCode == 200) {
                    layer.msg(res.message);
                } else {
                    layer.msg(res.message);
                }
            });
        });
    });
</script>