<title>我的资料</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的资料</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">我的资料</div>
                <div class="layui-card-body" pad15>
                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-block">
                                <input type="text" id="username" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-block">
                                <input type="text" id="account" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="text" id="gender" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-block">
                                <input type="text" id="phonenumber" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">机构</label>
                            <div class="layui-input-block">
                                <input type="text" id="tenantname" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">VIP有效期</label>
                            <div class="layui-input-block">
                                <input type="text" id="vipExpirationTime" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">机构类型</label>
                            <div class="layui-input-block">
                                <input type="text" id="classiFication" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">行业</label>
                            <div class="layui-input-block">
                                <input type="text" id="industryName" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">部门</label>
                            <div class="layui-input-block">
                                <input type="text" id="departmentname" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">角色</label>
                            <div class="layui-input-block">
                                <input type="text" id="rolename" value="" readonly class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'common', 'setter', 'element'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , common = layui.common
            , setter = layui.setter
            , form = layui.form;

        //初始化当前登录用户信息
        admin.req({
            url: setter.apiAddress.aspnetuser.details
            , data: {}
            , done: function (res) {
                $('#username').val(res.data.userName);
                $('#account').val(res.data.account);
                if (res.data.gender == 1) {
                    $('#gender').val('男');
                } else {
                    $('#gender').val('女');
                }
                $('#phonenumber').val(res.data.phoneNumber);
                $('#tenantname').val(res.data.tenantName);
                $('#departmentname').val(res.data.departmentName);
                $('#rolename').val(res.data.roleName);
                if (res.data.classiFication == 1) {
                    $('#classiFication').val('免费');
                } else if (res.data.classiFication == 2) {
                    $('#classiFication').val('试用');
                } else if (res.data.classiFication == 3) {
                    $('#classiFication').val('付费（VIP）');
                } else {
                    $('#classiFication').val('/');
                }
                $('#vipExpirationTime').val(res.data.vipExpirationTime);
                $('#industryName').val(res.data.industryName);
            }
        });

        form.render();

    });
</script>