<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<form class="layui-form" id="saasversion-edit-form" lay-filter="saasversion-edit-form" style="padding:15px;">
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">机构</label>
            <div class="layui-input-block">
                <select class="sel" id="sel-identifying-list" name="Identifying" lay-verify="required|select" lay-filter="">
                    <option value="">请选择</option>
                    <optgroup label="免费用户">
                        <option value=1>免费</option>
                        <option value=2>试用</option>
                    </optgroup>
                    <optgroup label="付费用户">
                        <option value=3>VIP</option>
                    </optgroup>
                    <optgroup label="代理商">
                        <option value=4>代理商</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <script type="text/html" template>
                    <input type="text" name="Name" value="{{ d.params.name || '' }}" lay-verify="required|normallength" placeholder="" maxlength="30" autocomplete="off" class="layui-input">
                    <input type="hidden" name="Id" value="{{ d.params.id || '' }}" lay-verify="required" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">顺序</label>
            <div class="layui-input-block ">
                <script type="text/html" template>
                    <input type="text" id="displayOrder" name="DisplayOrder" value="{{ d.params.displayOrder || '' }}" lay-verify="required|number" maxlength="3" autocomplete="off" placeholder="" class="layui-input">
                </script>

            </div>
        </div>
        <div class="layui-form-item content-center">
            <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="saasversion-edit-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
        </div>
    </div>
</form>
