<title>角色操作权限设置</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>角色操作权限设置</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="saasversionownedmodules-filter">
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-sm btn-save-saasversionownedmodules" data-type="saveoperationpermissions"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
            </div>
        </div>
        <div class="layui-card-body">
            <table class="layui-table" id="saasversionownedmodules-table" lay-filter="saasversionownedmodules-table"></table>
        </div>
    </div>
</div>