<title>相册封面</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>相册封面</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table class="layui-table" id="albumcover-table" lay-filter="albumcover-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('albumcover', layui.factory('albumcover')).use(['albumcover'], function () {

    });
</script>