<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="/marketing/consultrecord/index">
                                                <i class="layui-icon layui-icon-console"></i>
                                                <cite>咨询跟进</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/teaching/student/index">
                                                <i class="layui-icon layui-icon-chart"></i>
                                                <cite>学生管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/foundational/aspnetuser/index">
                                                <i class="layui-icon layui-icon-template-1"></i>
                                                <cite>员工档案</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/marketing/marketanalysis/index">
                                                <i class="layui-icon layui-icon-chat"></i>
                                                <cite>市场分析</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/foundational/tenant/index">
                                                <i class="layui-icon layui-icon-find-fill"></i>
                                                <cite>机构管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/teaching/course/index">
                                                <i class="layui-icon layui-icon-survey"></i>
                                                <cite>课程管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/teaching/classes/index">
                                                <i class="layui-icon layui-icon-user"></i>
                                                <cite>班级管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/teaching/classschedule/index">
                                                <i class="layui-icon layui-icon-set"></i>
                                                <cite>课表管理</cite>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">生源统计</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a lay-href="/marketing/consultrecord/index" class="layadmin-backlog-body">
                                                <h3>生源总数</h3>
                                                <p id="totalAmount"></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/marketing/consultrecord/index" class="layadmin-backlog-body">
                                                <h3>待跟进</h3>
                                                <p id="tofollowupAmount"></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/marketing/consultrecord/index" class="layadmin-backlog-body">
                                                <h3>跟进中</h3>
                                                <p id="inthefollowupAmount"></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a href="/marketing/consultrecord/index" class="layadmin-backlog-body">
                                                <h3>已报班</h3>
                                                <p id="tradedAmount"></p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a href="javascript:;" class="layadmin-backlog-body">
                                                <h3>未结课班级数量</h3>
                                                <p><cite style="color: #FF5722;">5</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a href="javascript:;" class="layadmin-backlog-body">
                                                <h3>已结课班级数量</h3>
                                                <p><cite style="color: #FF5722;">5</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a href="javascript:;" class="layadmin-backlog-body">
                                                <h3>本月开班数量</h3>
                                                <p><cite style="color: #FF5722;">5</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据概览</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                                <div carousel-item id="LAY-index-dataview">
                                    <!--数据概览第一个图表 - 开始-->
                                    <!--<div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>-->
                                    <!--数据概览第一个图表 - 结束-->
                                    <!--数据概览第一个图表 - 开始-->
                                    <!--<div></div>-->
                                    <!--数据概览第一个图表 - 结束-->
                                    <!--本月生源走势分析 - 开始-->
                                    <div></div>
                                    <!--本月生源走势分析 - 结束-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-tab layui-tab-brief layadmin-latestData">
                            <ul class="layui-tab-title">
                                <li class="layui-this">行业资讯</li>
                                <li>平台动态</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <table id="LAY-index-topSearch"></table>
                                </div>
                                <div class="layui-tab-item">
                                    <table id="LAY-index-topCard"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">版本信息</div>
                <div class="layui-card-body layui-text">
                    <table class="layui-table">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>当前版本</td>
                                <td>
                                    <script type="text/html" template>
                                        v{{ layui.admin.v }}
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>基于框架</td>
                                <td>
                                    <script type="text/html" template>
                                        .NetCore3.1 & Layui2.5.6
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>主要特色</td>
                                <td>实用 / 高效 / 清爽 / 极简</td>
                            </tr>
                            <tr>
                                <td>获取渠道</td>
                                <td style="padding-bottom: 0;">
                                    <div class="layui-btn-container">
                                        <a href="javascript:;" onclick="layer.tips('开放授权', this, {tips: 3});" target="_blank" class="layui-btn layui-btn-danger">升级VIP</a>
                                        <a href="javascript:;" onclick="layer.tips('开放授权', this, {tips: 3});" target="_blank" class="layui-btn">免费试用</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">招生进度</div>
                <div class="layui-card-body layadmin-takerates" id="class-group-first"></div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">招生进度</div>
                <div class="layui-card-body layadmin-takerates" id="class-group-second"></div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">用户服务</div>
                <div class="layui-card-body">
                    <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true" data-anim="fade" lay-filter="news">
                        <div carousel-item>
                            <div><a href="#" target="_blank" class="layui-bg-red">快速上手文档</a></div>
                            <div><a href="#" target="_blank" class="layui-bg-green">联系我的客服</a></div>
                            <div><a lay-href="/operation/feedback/add" class="layui-bg-blue">定制需求反馈</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">
                    服务商自白
                    <i class="layui-icon layui-icon-tips" lay-tips="谢谢您支持" lay-offset="5"></i>
                </div>
                <div class="layui-card-body layui-text layadmin-text">
                    <p>我们一直以来致力于把教育行业线下的业务整体搬到线上来，从招生、管理、报名、上课、人事、财务等业务整合成线上一站式智能化产品，能够帮机构完成招生引流、教务管理、财务管理、数据分析、家校互动等，让机构的办学成本降低，效率提高，全面提升管理教学、办学水平。</p>
                    <p>我们一直坚持只提供简洁、高频、实用的功能。如何为您产生更大的价值和优质的服务是我们一直在努力探索和研究的。</p>
                    <p>与您一起成长，共同进步将永远是我们的第一要务。</p>
                    <p>—— 成都知识索引科技有限公司（<a href="http://www.awine.tech/" target="_blank">Awine</a>）</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('console', layui.factory('console'));
</script>

