<title>班级相册</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>班级相册</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="classphotoalbum-toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-event="search"><i class="layui-icon layui-icon-refresh"></i>搜索相册</a>
                    <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>创建相册</a>
                </div>
            </script>
            <table class="layui-table" id="classphotoalbum-table" lay-filter="classphotoalbum-table"></table>
        </div>
    </div>
</div>
<script>
    layui.use('classphotoalbum', layui.factory('classphotoalbum')).use(['classphotoalbum'], function () {
    });
</script>