<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<form class="layui-form layui-card-header layuiadmin-card-header-auto layui-row" id="userprofile-add-form" lay-filter="userprofile-add-form">
    <div class="layui-form-item">
        <label class="layui-form-label lines">部门</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="hidden" id="departmentId" name="DepartmentId" value="{{ d.params.departmentId || '' }}" lay-verify="required" class="layui-input">
            </script>
            <div id="xmselect-department-edit"></div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <select class="sel" id="sel-aspnetrole-edit" name="RoleId" lay-verify="required|select" lay-filter=""></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">性别</label>
        <div class="layui-input-block">
            <select id="sel-gender-edit" name="Gender" lay-verify="">
                <option value=1>男</option>
                <option value=2>女</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" id="userName" name="UserName" value="{{ d.params.userName || '' }}" readonly="readonly" lay-verify="required|username" maxlength="6" autocomplete="off" placeholder="" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block ">
            <script type="text/html" template>
                <input type="text" id="email" name="Email" lay-verify="required|email" value="{{ d.params.email || '' }}" maxlength="32" autocomplete="off" placeholder="" class="layui-input">
                <input type="hidden" name="Id" value="{{ d.params.id || '' }}" lay-verify="required" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block ">
            <script type="text/html" template>
                <input type="text" id="account" name="Account" value="{{ d.params.account || '' }}" readonly="readonly" lay-verify="required|phone" maxlength="16" autocomplete="off" placeholder="" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block ">
            <script type="text/html" template>
                <input type="text" id="phoneNumber" name="PhoneNumber" value="{{ d.params.phoneNumber || '' }}" lay-verify="required|phone" maxlength="20" autocomplete="off" placeholder="" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item content-center">
        <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="userprofile-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
    </div>
</form>