<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<form class="layui-form" id="financialitems-add-form" lay-filter="financialitems-add-form">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block ">
            <input type="text" id="name" name="Name" lay-verify="required|normallength" maxlength="20" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <select name="Status" lay-verify="required|select">
                <option value="">请选择</option>
                <option value=1>启用</option>
                <option value=2>停用</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" id="displayOrder" name="DisplayOrder" lay-verify="required|number" maxlength="10" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item content-center">
        <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="financialitems-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
    </div>
</form>