<title>班级学生列表</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>班级学生列表</cite></a>
    </div>
</div>
<div class="layui-fluid" style="padding-top:5px;">
    <div class="layui-card">
        <div class="layui-card-body" style="padding:0;border:none; margin-top:15px;">
            <div class="layui-tab layui-tab-brief" lay-filter="mk-table-filter">
                <!--TAB-->
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="0"><i class="layui-icon layui-icon-menu-fill"></i> 本班级补课学生列表</li>
                    <li lay-id="1"><i class="layui-icon layui-icon-user"></i> 当前课程待补课学生列表</li>
                </ul>
                <div class="layui-tab-content">
                    <!--补课学生列表-->
                    <div class="layui-tab-item layui-show">
                        <script type="text/html" id="mk-studens-toolbar">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-subtraction"></i>移出本班</button>
                            </div>
                        </script>
                        <table class="layui-table" id="mk-students-table" lay-filter="mk-students-table"></table>
                    </div>
                    <!--待补课学生列表-->
                    <div class="layui-tab-item">
                        <script type="text/html" id="mk-students-tobe-assigned-table-toolbar">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>添加</button>
                            </div>
                        </script>
                        <table class="layui-table" id="mk-students-tobe-assigned-table" lay-filter="mk-students-tobe-assigned-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
