<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-fluid" style="padding-top:0;">
    <div class="layui-tab layui-tab-brief" lay-filter="studentprofile-tab-filter">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="layui-icon layui-icon-tips"></i> 课程定价标准</li>
            <li><i class="layui-icon layui-icon-add-circle"></i> 添加定价标准</li>
        </ul>
        <div class="layui-tab-content" style="padding-top:0;">
            <!--课程收费方式-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="course-chargemanner-table" lay-filter="course-chargemanner-table"></table>
            </div>
            <!--课程收费方式-->
            <!--添加收费方式-->
            <div class="layui-tab-item" style="padding-top:25px;">
                <div class="layui-form layui-form-pane" lay-filter="chargemanner-add-form-filter">
                    <div class="layui-form-item">
                        <label class="layui-form-label">收费方式</label>
                        <div class="layui-input-block">
                            <script type="text/html" template>
                                <input type="hidden" name="CourseId" value="{{ d.params.id || '' }}" lay-verify="required" class="layui-input">
                            </script>
                            <select id="sel-charge-manner-list" name="ChargeManner" lay-verify="required|select" lay-filter="sel-charge-manner-list-filter">
                                <option value="1">按课时收费（课时）</option>
                                <option value="2">按月收费（月）</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">数量</label>
                        <div class="layui-input-block">
                            <input type="text" id="courseDuration" name="CourseDuration" lay-verify="required|number" value="1" maxlength="5" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">总价（元）</label>
                        <div class="layui-input-block">
                            <input type="text" id="totalPrice" name="TotalPrice" lay-verify="required|number" maxlength="11" autocomplete="off" placeholder="请输入课程总价" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="charge-unitprice-classhour">
                        <label class="layui-form-label">单价（元）</label>
                        <div class="layui-input-block">
                            <input type="text" id="chargeUnitPriceClassHour" name="ChargeUnitPriceClassHour" value="0" lay-verify="required|number" maxlength="11" autocomplete="off" readonly placeholder="自动计算单价（元/课时）" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="charge-unitprice-month" style="display:none;">
                        <label class="layui-form-label">单价（元）</label>
                        <div class="layui-input-block">
                            <input type="text" id="chargeUnitPriceMonth" name="ChargeUnitPriceMonth" value="0" lay-verify="required|number" maxlength="11" autocomplete="off" readonly placeholder="自动计算单价（元/月）" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item content-center">
                        <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="chargemanner-add-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
                    </div>
                </div>
            </div>
            <!--添加收费方式-->
        </div>
    </div>
</div>