<title>学生管理</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a lay-href="/teachingaffair/student/index">学生管理</a>
        <a><cite>学生信息</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layadmin-caller">
        <div class="caller-contar" id="studentprofileview"></div>
    </div>
</div>
<div class="layui-fluid">
    <div class="layadmin-caller">
        <div class="layui-tab layui-tab-brief" id="studentprofile-tab" lay-filter="studentprofile-filter">
            <ul class="layui-tab-title">
                <li class="layui-this">报读课程</li>
                <li>上课记录</li>
                <li>成长档案</li>
                <li>优惠券</li>
                <li>订单管理</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" id="studentcoursetemplateview">
                    <!--报读课程-->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-table" id="attendance-table" lay-filter="attendance-table"></table>
                </div>
                <div class="layui-tab-item">成长档案功能开发中</div>
                <div class="layui-tab-item">优惠券功能开发中</div>
                <div class="layui-tab-item">
                    <table class="layui-table" id="studentcourseorder-table" lay-filter="studentcourseorder-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="studentprofiletemplate">
    {{#  if(!d){ }}
    <p style="width:100%; text-align:center;padding-top:10px;"><i class="layui-icon layui-icon-face-cry"></i>   找不到你要查看的学生信息</p>
    {{#  }else{ }}
    <div class="caller-item">
        <img src="{{ layui.setter.base }}style/res/template/studentimage.jpg" class="caller-img caller-fl">
        <div class="caller-main caller-fl">
            <p>
                <strong>{{ d.name }}</strong>
                <em>
                    {{#  if(d.gender === 1){ }}
                    男生
                    {{#  }else{ }}
                    女生
                    {{#  } }}
                </em>
            </p>
            <div class="caller-iconset">
                <i class="layui-icon layui-icon-at"></i>{{d.age}}（岁）
                <i class="layui-icon layui-icon-snowflake"></i>{{d.phoneNumber}}
                <i class="layui-icon layui-icon-auz"></i>{{d.idNumber||'暂无证件号码'}}
                <i class="layui-icon layui-icon-time"></i>{{d.createTime}}
            </div>
            <p class="caller-adds" style="margin-top:5px;">
                <i class="layui-icon layui-icon-location"></i>{{ d.address || '暂未录入联系地址' }}
            </p>
            <p class="caller-adds">
                <i class="layui-icon layui-icon-about"></i>{{d.noteInformation||'...'}}
            </p>
        </div>
        <!--
        <button class="layui-btn layui-btn-sm caller-fr" id="btn-student-register" style="margin-right:5px;">
            <i class="layui-icon layui-icon-headset"></i>
            试听办理 - 正式学员依然可以参与已报读课程及未报读课程的试听
        </button>
        -->
        <button class="layui-btn layui-btn-sm caller-fr" id="btn-student-register" style="margin-right:5px;">
            <i class="layui-icon layui-icon-chat"></i>
            续费或扩科
        </button>
    </div>
    {{#  } }}
</script>
<script type="text/html" id="studentcoursetemplate">
    {{#  layui.each(d, function(index, item){ }}
    <div class="caller-contar">
        <div class="caller-item">
            <img src="{{ layui.setter.base }}style/res/template/course_default_img.jpg" alt="" class="caller-img caller-fl">
            <div class="caller-main caller-fl">
                <p>
                    报读课程：{{item.courseName}}
                    就读班级：
                    {{#  if(item.classesId==='00000000-0000-0000-0000-000000000000'){ }}
                    待分班
                    {{#  }else{ }}
                    {{item.classesName}}
                    {{#  } }}
                    收费方式：
                    {{#  if(item.chargeManner===1){ }}
                    按课时收费
                    {{#  }else{ }}
                    按月收费
                    {{#  } }}
                    报名时间：
                    {{item.createTime}}
                </p>
                <div class="caller-iconset" style="margin-top:5px;">
                    购买数量：
                    {{#  if(item.chargeManner===1){ }}
                    <strong style="color:#FF5722;">{{item.purchaseQuantity}}个课时</strong>
                    {{#  }else{ }}
                    <strong style="color:#FF5722;">{{item.purchaseQuantity}}个月</strong>
                    {{#  } }}
                    已消耗数量：
                    {{#  if(item.chargeManner===1){ }}
                    <strong style="color:#009688;">{{item.consumedQuantity}}个课时</strong>
                    {{#  }else{ }}
                    <strong style="color:#009688;">{{item.consumedQuantity}}个月</strong>
                    {{#  } }}
                    剩余数量：
                    {{#  if(item.chargeManner===1){ }}
                    <strong style="color:#FFB800;">{{item.remainingNumber}}个课时</strong>
                    {{#  }else{ }}
                    <strong style="color:#FFB800;">{{item.remainingNumber}}个月</strong>
                    {{#  } }}
                </div>
            </div>
        </div>
    </div>
    {{#  }); }}
    {{#  if(d.length === 0){ }}
    <p style="width:100%; text-align:center;padding-top:10px;"><i class="layui-icon layui-icon-face-cry"></i>   暂无报读数据</p>
    {{#  } }}
</script>
<script>
    layui.use('studentprofile', layui.factory('studentprofile')).use(['studentprofile'], function () {

    });
</script>