<title>学生管理</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<style>
    .layadmin-caller {
        padding: 15px !important;
    }

    .layui-tab {
        padding: 0 !important;
        margin: 0 !important;
    }

    .layadmin-caller .caller-contar {
        padding-bottom: 0 !important;
    }

    .layui-tab-content {
        padding: 0 !important;
    }

    .layadmin-caller .caller-contar .caller-item {
        padding: 0 !important;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a lay-href="/teaching/student/index">学生管理</a>
        <a><cite>学生信息</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layadmin-caller">
        <div class="caller-contar" id="studentprofileview"></div>
    </div>
</div>
<div class="layui-fluid">
    <div class="layadmin-caller">
        <div class="layui-tab layui-tab-brief" id="studentprofile-tab" lay-filter="studentprofile-filter">
            <ul class="layui-tab-title">
                <li class="layui-this">报读课程</li>
                <li>上课记录</li>
                <li>成长档案</li>
                <li>优惠券</li>
                <li>订单管理</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <!--报读课程-->
                    <script type="text/html" id="studentcourseorderitem-toolbar">
                        <div class="layui-btn-container">
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="renewal"><i class="layui-icon layui-icon-rmb"></i>续费</a>
                            <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="shutoutofschool"><i class="layui-icon layui-icon-time"></i>停课</a>-->
                            <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="refund"><i class="layui-icon layui-icon-dialogue"></i>退费</a>-->
                            <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="graduation"><i class="layui-icon layui-icon-heart"></i>毕业</a>-->
                        </div>
                    </script>
                    <table class="layui-table" id="studentcourseorderitem-table" lay-filter="studentcourseorderitem-table"></table>
                </div>
                <div class="layui-tab-item">
                    <!--上课记录-->
                    <table class="layui-table" id="attendance-table" lay-filter="attendance-table"></table>
                </div>
                <div class="layui-tab-item">
                    <!--成长档案-->
                    <p style="width:100%; text-align:center;">成长档案功能开发中</p>
                </div>
                <div class="layui-tab-item">
                    <!--优惠券-->
                    <p style="width: 100%; text-align: center; ">优惠券功能开发中</p>
                </div>
                <div class="layui-tab-item">
                    <!--订单信息-->
                    <table class="layui-table" id="studentcourseorder-table" lay-filter="studentcourseorder-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="studentprofiletemplate">
    {{#  if(!d){ }}
    <p style="width:100%; text-align:center;padding-top:10px;"><i class="layui-icon layui-icon-face-cry"></i>   找不到你要查看的学生信息</p>
    {{#  }else{ }}
    <div class="caller-item">
        <img src="{{ layui.setter.base }}style/res/template/studentimage.jpg" class="caller-img caller-fl">
        <div class="caller-main caller-fl">
            <p>
                <strong>{{ d.name }}</strong>
                <em>
                    {{#  if(d.gender === 1){ }}
                    男生
                    {{#  }else{ }}
                    女生
                    {{#  } }}
                </em>
            </p>
            <div class="caller-iconset">
                <i class="layui-icon layui-icon-at"></i>{{d.age}}（岁）
                <i class="layui-icon layui-icon-snowflake"></i>{{d.phoneNumber}}
                <i class="layui-icon layui-icon-auz"></i>{{d.idNumber||'暂无证件号码'}}
                <i class="layui-icon layui-icon-time"></i>{{d.createTime}}
                <i class="layui-icon layui-icon-about"></i>{{d.noteInformation||'...'}}
            </div>
            <p class="caller-adds" style="margin-top:5px;">
                <i class="layui-icon layui-icon-location"></i>{{ d.address || '暂未录入联系地址' }}
            </p>
        </div>
        <!--
        <button class="layui-btn layui-btn-sm caller-fr" id="btn-student-register" style="margin-right:5px;">
            <i class="layui-icon layui-icon-headset"></i>
            试听办理 - 正式学员依然可以参与已报读课程及未报读课程的试听
        </button>
        -->
        <button class="layui-btn layui-btn-sm caller-fr" id="btn-student-register" style="margin-right:5px;">
            <i class="layui-icon layui-icon-chat"></i>
            扩科
        </button>
    </div>
    {{#  } }}
</script>
<script>
    layui.use('studentprofile', layui.factory('studentprofile')).use(['studentprofile'], function () {

    });
</script>