
<title>数据服务</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>财务数据</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">课消情况分析</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="StudentSource-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="StudentSource-Line">
                        <div carousel-item id="StudentSource-Line">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">订单（预收）情况分析</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="MarketingChannel-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="MarketingChannel-heapline">
                        <div carousel-item id="MarketingChannel-heapline">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">课程订单贡献情况分析 - 雷达图</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="ConsultRecord-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="ConsultRecord-Chart">
                        <div carousel-item id="ConsultRecord-Chart">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">费用支出情况分析 - 各支出项支出占比</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="CourseConsultationVolumeAnalysis-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="CourseConsultationVolumeAnalysis">
                        <div carousel-item id="CourseConsultationVolumeAnalysis">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('financialanalysis', layui.factory('financialanalysis'));
</script>