
<title>数据服务</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>财务数据</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">订单数量分析</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="OrderCount-BasicLineChart-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="OrderCount-BasicLineChart-Container">
                        <div carousel-item id="OrderCount-BasicLineChart-Container">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">课程订单分析</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="CourseOrderCount-StackedLineChart-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="CourseOrderCount-StackedLineChart-Container">
                        <div carousel-item id="CourseOrderCount-StackedLineChart-Container">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">费用支出情况分析</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="Spending-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="Spending-Container">
                        <div carousel-item id="Spending-Container">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--<div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">课消数量分析</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="Income-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="Income-Container">
                        <div carousel-item id="Income-Container">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>-->
        <!--<div class="layui-col-md12">

            <div class="layui-card">
                <div class="layui-card-header">订单金额（预收款）分析</div>
                <div class="layui-card-body">

                    <div class="layui-card-header" style="padding:0 0 5px 0;">
                        <input type="text" class="layui-input" id="OrderAmountStackedAreaChart-TimeSelect" placeholder="请选择时间段">
                    </div>
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="OrderAmountStackedAreaChart-Container">
                        <div carousel-item id="OrderAmountStackedAreaChart-Container">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>-->
    </div>
</div>

<script>
    layui.use('financialanalysis', layui.factory('financialanalysis'));
</script>