<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<form class="layui-form" id="holiday-edit-form" lay-filter="holiday-edit-form">
    <div class="layui-form-item">
        <div class="layui-row layui-col-space15">
            <div class="layui-form-item">
                <label class="layui-form-label">假日日期</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" id="holidayDate" name="HolidayDate" value="{{ d.params.holidayDate || '' }}" lay-verify="required" readonly placeholder="" maxlength="32" autocomplete="off" class="layui-input">
                        <input type="hidden" name="Id" value="{{ d.params.id || '' }}" lay-verify="required" class="layui-input">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年份标识</label>
            <div class="layui-input-block">
                <script type="text/html" template>
                    <input type="text" id="year" name="Year" value="{{ d.params.year || '' }}" maxlength="16" placeholder="" readonly lay-verify="required|number" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">假日名称</label>
            <div class="layui-input-block">
                <script type="text/html" template>
                    <input type="text" id="holidayName" name="HolidayName" value="{{ d.params.holidayName || '' }}" maxlength="32" placeholder="" lay-verify="required|normallength" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-form-item content-center">
            <button class="layui-btn layui-btn-sm" type="button" lay-submit lay-filter="holiday-edit-form-submit"><i class="layui-icon layui-icon-ok"></i>立即提交</button>
        </div>
    </div>
</form>
